{{ partial "head.html" . }}
   <body>
	<div class="body-box">
      {{ partial "nav.html" . }}
      {{ partial "profile.html" . }}


       <section id="wrapper" class="tags">
           <div class="page-tags" id="tags">
               {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <span class="tags">
                    <a href="/tags/{{ $name | urlize }}" rel="{{ len $taxonomy }}">{{ $name }}({{ len $taxonomy }})</a>
                </span>
               {{ end }}
           </div>
           {{ partial "footer.html" . }}
       </section>
	</div>

	{{ if .Site.Params.enableCanvas }}
	<div class="canvas-box">
		<canvas id="canvas"></canvas>
	</div>
	{{ end }}

       {{ partial "js.html" . }}
       {{ partial "tagcloud.html" . }}
   </body>
</html>
